@{
    ViewData["Title"] = "Home Page";
}




<div class="container text-center mt-5">
    <h1 class="display-4 mb-4 text-primary">Verify Yourself</h1>

    <div class="d-flex justify-content-center">
        <a asp-controller="Account" asp-action="Register" class="btn btn-outline-dark btn-lg mx-3">
            Patient
        </a>
        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-secondary btn-lg mx-3">
            Admin
        </a>
    </div>
</div>
